/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

* {
    outline: 1px dotted black;
}

/* Global */
h1 {
  font-size: 5em;
  text-align: center;
  text-transform: uppercase;
}

h1 span:nth-child(even) {
  color: thistle;
}

/* Homepage */
.home {


}

/* Bio */
.bio {


}

/* Contact */
.contact{

  
}
